        <button 
            class="burger-menu md:hidden flex flex-col gap-1"
            aria-expanded="false"
        >
            <span class="w-6 h-0.5 bg-black"></span>
            <span class="w-6 h-0.5 bg-black"></span>
            <span class="w-6 h-0.5 bg-black"></span>
        </button>