---
const { text, href } = Astro.props;
---

<a
  href={href}
  class="
    px-5 py-2.5 
    text-[25px] 
    text-white  
    bg-blue-500
    border-2 border-blue-500
    rounded-[5px] 
    text-center 
    cursor-pointer 
    self-start 
    transition-colors duration-300 ease
    hover:bg-blue-400 hover:border-blue-400
  "
>
  {text}
</a>