---
import { Picture } from "astro:assets";
import ContentHeader from "./ContentHeader.astro";

import { getEntry, render } from "astro:content";

const cooperation = await getEntry("cooperation", "index");
if (!cooperation) throw new Error("About page not found");

const { Content } = await render(cooperation);
---

<section
    id="cooperation"
    class="bg-[#181a17] md:py-10 scroll-mt-15 md:scroll-mt-24"
>
    <div
        class="grid grid-cols-1 gap-4 lg:grid-cols-2 lg:gap-18 items-center justify-center m-auto pb-10 px-5 lg:px-15 max-w-[1440px]"
    >
        <div class="order-2 lg:order-1">
            <Picture
                src={cooperation.data.image}
                alt={cooperation.data.title}
                class="object-cover justify-self-center w-full lg:h-auto"
            />
        </div>
        <div class="text-white order-1 lg:order-2">
            <ContentHeader text={cooperation.data.title} />
            <div class="markdown text-lg md:text-xl leading-6 text-justify">
                <Content />
            </div>
        </div>
    </div>
</section>

<style is:global>
    #cooperation .markdown p {
        margin: 0.625rem 0;
    }
</style>
