---
import { getEntry, render } from "astro:content";

const footer = await getEntry("footer", "index");

if (!footer) {
    throw new Error("Could not find contact data!");
}

const { title, description, email, phone } = footer.data;
const { Content } = await render(footer);
---

<footer
    id="contact"
    class="relative bg-[#181a17] pt-10 md:pt-25 scroll-mt-15 md:scroll-mt-24"
>
    <div class="absolute top-0 left-0 w-full overflow-hidden">
        <svg
            class="relative block w-[calc(100%+1.3px)] h-[50px] md:h-32"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 1200 120"
            preserveAspectRatio="none"
        >
            <path
                d="M1200 120L0 16.48 0 0 1200 0 1200 120z"
                class="fill-[#FBFBFE]"></path>
        </svg>
    </div>
    <div class="max-w-[1440px] m-auto">
        <div class="text-white max-w-4xl pb-5 px-5 lg:px-15">
            <h3 class="font-semibold text-sm uppercase mb-4">{title}</h3>
            <address class="not-italic">
                <p class="text-xl my-6">
                    {description}
                </p>
                <div class="text-lg my-2">
                    <Content />
                </div>
                <div class="flex flex-col md:flex-row gap-4 my-8">
                    <a href="mailto:neura@example.com">{email}</a>
                    <a href="tel:+48 123 456 789">{phone}</a>
                </div>
            </address>
        </div>
    </div>
</footer>
