<div
    id="mobile-menu"
    class="hidden fixed top-[60px] w-full flex-col bg-white px-6 gap-4 md:hidden z-[9999] justify-items-center"
>
    <a href="#home" class="py-1 block text-xl">Home</a>
    <a href="#about" class="py-1 block text-xl">About</a>
    <a href="#contact" class="py-1 block text-xl">Contact</a>
</div>
