---
import ContentHeader from "./ContentHeader.astro";
---

<section class="bg-[#FBFBFE]">
    <div class="max-w-[1440px] m-auto pt-5 md:pt-10 px-5 lg:px-15">
        <div class="text-center pb-5">
            <ContentHeader text="Offer" />
            <ul
                class="grid grid-cols-1 gap-6 m-6 list-none p-0 md:grid-cols-3 md:gap-8 md:my-8 md:mx-0"
            >
                <li class="flex flex-col items-center gap-5 m-0 max-w-md">
                    <h3 class="font-semibold text-2xl m-0">Name</h3>
                    <p class="text-lg m-0">
                        Lorem ipsum dolor sit amet consectetur, adipisicing
                        elit. Temporibus laborum saepe, illo modi cupiditate
                        officia quidem, hic ratione aspernatur repellat, eos
                        distinctio! Temporibus voluptates culpa fuga voluptatem
                        eius doloribus corporis?
                    </p>
                </li>
                <li class="flex flex-col items-center gap-5 m-0 max-w-md">
                    <h3 class="font-semibold text-2xl m-0">Name</h3>
                    <p class="text-lg m-0">
                        Lorem ipsum dolor sit amet consectetur, adipisicing
                        elit. Temporibus laborum saepe, illo modi cupiditate
                        officia quidem, hic ratione aspernatur repellat, eos
                        distinctio! Temporibus voluptates culpa fuga voluptatem
                        eius doloribus corporis?
                    </p>
                </li>
                <li class="flex flex-col items-center gap-5 m-0 max-w-md">
                    <h3 class="font-semibold text-2xl m-0">Name</h3>
                    <p class="text-lg m-0">
                        Lorem ipsum dolor sit amet consectetur, adipisicing
                        elit. Temporibus laborum saepe, illo modi cupiditate
                        officia quidem, hic ratione aspernatur repellat, eos
                        distinctio! Temporibus voluptates culpa fuga voluptatem
                        eius doloribus corporis?
                    </p>
                </li>
                <li class="flex flex-col items-center gap-5 m-0 max-w-md">
                    <h3 class="font-semibold text-2xl m-0">Name</h3>
                    <p class="text-lg m-0">
                        Lorem ipsum dolor sit amet consectetur, adipisicing
                        elit. Temporibus laborum saepe, illo modi cupiditate
                        officia quidem, hic ratione aspernatur repellat, eos
                        distinctio! Temporibus voluptates culpa fuga voluptatem
                        eius doloribus corporis?
                    </p>
                </li>
                <li class="flex flex-col items-center gap-5 m-0 max-w-md">
                    <h3 class="font-semibold text-2xl m-0">Name</h3>
                    <p class="text-lg m-0">
                        Lorem ipsum dolor sit amet consectetur, adipisicing
                        elit. Temporibus laborum saepe, illo modi cupiditate
                        officia quidem, hic ratione aspernatur repellat, eos
                        distinctio! Temporibus voluptates culpa fuga voluptatem
                        eius doloribus corporis?
                    </p>
                </li>
                <li class="flex flex-col items-center gap-5 m-0 max-w-md">
                    <h3 class="font-semibold text-2xl m-0">Name</h3>
                    <p class="text-lg m-0">
                        Lorem ipsum dolor sit amet consectetur, adipisicing
                        elit. Temporibus laborum saepe, illo modi cupiditate
                        officia quidem, hic ratione aspernatur repellat, eos
                        distinctio! Temporibus voluptates culpa fuga voluptatem
                        eius doloribus corporis?
                    </p>
                </li>
            </ul>
        </div>
    </div>
</section>
