---
import { getEntry } from "astro:content";
import ContentHeader from "./ContentHeader.astro";

const offer = await getEntry("offer", "index");
if (!offer) throw new Error("Offer page not found");
---

<section id="offer" class="relative bg-[#FBFBFE] pt-10 md:pt-25">
    <div class="absolute top-0 left-0 w-full overflow-hidden">
        <svg
            class="relative block w-[calc(100%+1.3px)] h-[50px] md:h-32 -scale-x-100"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 1200 120"
            preserveAspectRatio="none"
        >
            <path
                d="M1200 120L0 16.48 0 0 1200 0 1200 120z"
                class="fill-[#181a17]"></path>
        </svg>
    </div>
    <div class="max-w-[1440px] m-auto pt-5 md:pt-10 px-5 lg:px-15">
        <div class="text-center pb-5">
            <ContentHeader text={offer.data.title} />
            <ul
                class="grid grid-cols-1 gap-6 m-6 list-none p-0 lg:grid-cols-3 lg:gap-8 lg:my-8 lg:mx-0 place-items-center"
            >
                {
                    offer.data.items.map((item) => (
                        <li class="flex flex-col items-center gap-5 m-0 max-w-2xl lg:max-w-max">
                            <h3 class="font-semibold text-2xl m-0">
                                {item.name}
                            </h3>
                            <p class="text-lg m-0">{item.description}</p>
                        </li>
                    ))
                }
            </ul>
        </div>
    </div>
</section>
